<div class="container">

    {{ dump }}

    <form>

        <div class="form-group">
            <label for="departure">Departure</label>
            <input #departure type="text" class="form-control" id="departure" required
                   [(ngModel)]="model.departure" name="departure" (keyup)="departureSearch(departure.value)" (blur)="displayDepartureDiv = false">
            <div *ngIf="displayDepartureDiv">
                <div *ngFor="let airport of departureAirports | async"
                     class="search-result"
                     (click)="selectDeparture(airport)">{{airport.iata}} - {{airport.name}}</div>
            </div>
        </div>
        <div class=" form-group">
            <label for="arrival">Arrival</label>
            <input #arrival type="text" class="form-control" id="arrival" required
                   [(ngModel)]="model.arrival" name="arrival" (keyup)="arrivalSearch(arrival.value)" (blur)="displayArrivalDiv = false">
            <div *ngIf="displayArrivalDiv">
                <div *ngFor="let airport of arrivalAirports | async"
                     class="search-result"
                     (click)="selectArrival(airport)">{{airport.iata}} - {{airport.name}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="departureDate">Departure date</label>
            <input type="text" class="form-control" id="departureDate" required
                   [(ngModel)]="model.departureDate" name="departureDate">
        </div>
        <div class="form-group">
            <label for="returnDate">Return date</label>
            <input type="text" class="form-control" id="returnDate" required
                   [(ngModel)]="model.returnDate" name="returnDate">
        </div>
        <div class="form-group">
            <label for="cabinClass">Cabin class</label>
            <select class="form-control" id="cabinClass" required
                    [(ngModel)]="model.cabinClass" name="cabinClass">
                <option *ngFor="let c of cabinClasses" [value]="c.id">{{c.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="numberPassengers">Number of passengers</label>
            <input type="text" class="form-control" id="numberPassengers" required
                   [(ngModel)]="model.numberPassengers" name="numberPassengers">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>